<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<form method="post">
    <h2>Create a new user account</h2>
    <label>
        Username:
        <input type="text" name="username" value="{{ username }}">
        <span class="error">{{ error['user'] }}</span>
    </label>
    <br/>
    <label>
        Password:
        <input type="password" name="password">
        <span class="error">{{ error['password'] }}</span>
    </label>
    <br/>
    <label>
        Password (verify):
        <input type="password" name="verify">
        <span class="error">{{ error['verify'] }}</span>
    </label>
    <br/>
    <label>
        Email (optional):
        <input type="email" name="email" value="{{ email }}">
        <span class="error">{{ error['email'] }}</span>
    </label>
    <br/>
    <input type="submit" value="Create User">
</form>
</body>
</html>